<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Emp_Attendance_Desktop.Properties.Settings.Emp_AttendanceDbConnectionString"
            connectionString="Data Source=DESKTOP-QS56RUI\SQLEXPRESS;Initial Catalog=Emp_AttendanceDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>